<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("partials/nav.ejs") %>
    <h1>Welcome to the Song Tracker</h1>
    <p>Track songs you want to play next on your musical instrument</p>
</body>
</html>