<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/modal.css">
</head>
<body>
    <%- include("../partials/nav.ejs") %>
    <%- include("../partials/alert.ejs") %>
    <h1><%= title %></h1>
    <form id="login-form" action="/login" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <div class="error-message" id="email-error"></div>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" minlength="1" maxlength="100" required>
        <div class="error-message" id="password-error"></div>

        <button type="submit">Login</button>
    </form>

    <script src="/js/utils/alert.js"></script>
    <script src="/js/utils/validationUtils.js"></script>
    <script src="/js/loginValidation.js"></script>
</body>
</html>