<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <%- include("../partials/nav.ejs") %>
    <h1>Song Search</h1>
    <input type="text" id="searchInput" placeholder="Search for a song...">
    <ul class="results"></ul>
<script src="/js/songsSearch.js"></script>
</body>
</html>
